@model JavnaRasprava.WEB.Models.Quiz.QuizEditModel

@{
    ViewBag.Title = GlobalLocalization.Admin_Quiz_Delete_PageTitle;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h3>@GlobalLocalization.Admin_Quiz_Delete_Heading</h3>
<div>
    <fieldset>
        <legend>
           @GlobalLocalization.Admin_Global_ImageForHompage
        </legend>
        <div class="row">
            <div class="col-md-3">
                @if ( !String.IsNullOrEmpty( Model.ImageRelativePath ) )
                {
                    <img src="@JavnaRasprava.WEB.Infrastructure.ImageHelper.GetQuizImage( Model.ImageRelativePath )" class="img-responsive">}
                else
                {
                    <p>@GlobalLocalization.Admin_Global_NoPictureAssigned</p>}
            </div>
        </div>
    </fieldset>
    <br />

    <fieldset>
        <legend>
            @GlobalLocalization.Admin_Quiz_Details_PageTitle
        </legend>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor( model => model.TimeCreated )
            </dt>

            <dd>
                @Html.DisplayFor( model => model.TimeCreated )
            </dd>

            <dt>
                @Html.DisplayNameFor( model => model.Title )
            </dt>

            <dd>
                @Html.DisplayFor( model => model.Title )
            </dd>

            <dt>
                @Html.DisplayNameFor( model => model.Description )
            </dt>

            <dd>
                @Html.DisplayFor( model => model.Description )
            </dd>

        </dl>
    </fieldset>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@GlobalLocalization.Admin_Global_Delete" class="btn btn-default" /> |
            @Html.ActionLink(GlobalLocalization.Admin_Global_BackToList, "ManageQuiz")
        </div>
    }
</div>
