@model JavnaRasprava.WEB.Models.Quiz.QuizEditModel

@{
    ViewBag.Title = GlobalLocalization.Admin_Quiz_Edit_PageTitle;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>@GlobalLocalization.Admin_Quiz_Edit_PageTitle</h3>

@using ( Html.BeginForm( "EditQuiz", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" } ) )
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
       
         @Html.HiddenFor( model => model.QuizId, new { htmlAttributes = new { @class = "form-control" } } )


        <div class="form-group">
            @Html.LabelFor( model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" } )
            <div class="col-md-10">
                @Html.EditorFor( model => model.Title, new { htmlAttributes = new { @class = "form-control" } } )
                @Html.ValidationMessageFor( model => model.Title, "", new { @class = "text-danger" } )
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor( model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" } )
            <div class="col-md-10">
                @Html.EditorFor( model => model.Description, new { htmlAttributes = new { @class = "form-control" } } )
                @Html.ValidationMessageFor( model => model.Description, "", new { @class = "text-danger" } )
            </div>
        </div>

        <div class="form-group">
            @Html.Label( GlobalLocalization.Admin_Global_Image, htmlAttributes: new { @class = "control-label col-md-2" } )
            <div id="Image" class="col-md-10">
                @if ( String.IsNullOrEmpty( @Model.ImageRelativePath ) )
                {
                    <input type="File" name="Image" id="Image" value="@GlobalLocalization.Admin_Global_ChooseImage" class="form-control" />
                }
                else
                {
                    @Html.HiddenFor( x => x.ImageRelativePath )
                    @Html.TextBoxFor( x => x.ImageRelativePath, new { disabled = "disabled" } )
                    <a onclick="AddUploadFileControl('Image', '@GlobalLocalization.Admin_Global_ChooseImage')">@GlobalLocalization.Admin_Global_ChangeImage</a>
                }
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@GlobalLocalization.Admin_Global_Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(GlobalLocalization.Admin_Global_BackToList, "ManageQuiz" )
</div>
