@model IEnumerable<JavnaRasprava.WEB.Models.Quiz.QuizSummaryModel>

@{
    ViewBag.Title = GlobalLocalization.Admin_Quiz_Index_PageTitle;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Action("Admin", "ParliamentSelection", new { returnUrl = Url.Action("ManageQuiz", "admin")})
@*@Html.Partial( "../Shared/_skupstineAdmin", "Admin/ManageQuiz" )*@

<h3>@GlobalLocalization.Admin_Quiz_Index_PageTitle</h3>

<p>
    @Html.ActionLink( GlobalLocalization.Admin_Quiz_CreateNew, "CreateQuiz" )
</p>
<table class="table table-striped">
    <tr>
        <th class="col-md-6">
            @Html.DisplayNameFor( model => model.Title )
        </th>
        <th class="col-md-2"></th>
    </tr>

    @foreach ( var item in Model )
    {
        <tr>
            <td class="col-md-6">
                @Html.DisplayFor( modelItem => item.Title )
            </td>
            <td class="col-md-2 text-right">
                @Html.ActionLink(GlobalLocalization.Admin_Global_Edit, "EditQuiz", new { id = item.QuizId }) |
                @Html.ActionLink(GlobalLocalization.Admin_Global_Details, "QuizDetails", new { id = item.QuizId }) |
                @Html.ActionLink(GlobalLocalization.Admin_Global_Delete, "DeleteQuiz", new { id = item.QuizId })
            </td>
        </tr>
    }

</table>
