@*This is not being used currently*@
@model CommentsListModel

<div class="col-md-12">
    @foreach ( var comment in Model.Comments )
    {
        <div class="col-lg-12">
            <p>@comment.Comment.ApplicationUser.UserName</p>
            <p>@comment.Comment.DateTimeUtc.ToString( "dd.MM.yyyy. hh:mm" )</p>
            <p>@comment.Comment.Text</p>
        </div>
    }
    @if ( User.Identity.IsAuthenticated )
    {
        <div id="newComment">
            @Html.Partial( "_LawComment", new CommentModel { Comment = new JavnaRasprava.WEB.DomainModels.LawComment() { LawID = Model.LawID } } )
        </div>
    }
    else
    {
        <em>@GlobalLocalization.NewCommentWarningText @Html.ActionLink( GlobalLocalization.Global_ToRegister, "Register", "Account", routeValues: new { returnUrl = "/JavnaRasprava/LawDetails?lawId=" + Model.LawID }, htmlAttributes: null ) ili @Html.ActionLink( GlobalLocalization.Global_ToLogIn, "Login", "Account", routeValues: new { returnUrl = "/JavnaRasprava/LawDetails?lawId=" + Model.LawID }, htmlAttributes: null ).</em>
    }

</div>
