@model LawSearchModel
@{
    ViewBag.Title = GlobalLocalization.JavnaRasprava_Search_PageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">@GlobalLocalization.JavnaRasprava_Search_PageTitle</h3>
    </div>
    <div class="panel-body">
    @using ( Ajax.BeginForm( "FilterSearch", "JavnaRasprava", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "searchResult", InsertionMode = InsertionMode.Replace } ) )
    {
        <div class="form-group">
        <div class="row">
            <div class="col-md-3">
                @Html.DropDownListFor( x => x.ParliamentId, Model.Parliaments, GlobalLocalization.Global_Search_Parliament_ValuePlaceHolder, htmlAttributes: new { @class = "form-control" }  )
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor( x => x.CategoryId, Model.Categories, GlobalLocalization.Global_Search_Category_ValuePlaceholder, htmlAttributes: new { @class = "form-control" } )
            </div>
            <div class="col-md-4">
                @Html.TextBoxFor( x => x.QueryString, htmlAttributes: new { @class = "form-control", @placeholder = GlobalLocalization.Global_Search_String_ValuePlaceholder } )
            </div>
            <div class="col-md-2">
                <input class="btn btn-primary btn-block" type="submit" value="@GlobalLocalization.Global_Search_Button" />
            </div>
        </div>
        </div>
    }
    </div>
</div>

<div id="searchResult"></div>
