@model IEnumerable<JavnaRasprava.WEB.Models.Law.LawTitleModel>
@{
    ViewBag.Title = GlobalLocalization.Admin_Laws_Index_PageTitle;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Action("Admin", "ParliamentSelection", new { returnUrl = Url.Action("ManageLaws", "Admin") })
@*@Html.Partial( "../Shared/_skupstineAdmin", "Admin/ManageLaws" )*@

<h3>@GlobalLocalization.Admin_Laws_Index_PageTitle</h3>
<p>@Html.ActionLink( GlobalLocalization.Admin_Laws_AddNew, "CreateLaw" )</p>


<table class="table table-striped">
    <tr>
        <th class="col-md-6">
            @Html.DisplayNameFor( model => model.Title )
        </th>
        <th class="col-md-2"></th>
    </tr>

    @foreach ( var law in Model )
    {
        <tr>
            <td class="col-md-6">
                @Html.DisplayFor( modelItem => law.Title )
            </td>
            <td class="col-md-2 text-right">
                @Html.ActionLink(GlobalLocalization.Admin_Global_Edit, "EditLaw", new { lawId = law.LawID }) |
                @Html.ActionLink(GlobalLocalization.Admin_Global_Details, "LawDetails", new { lawId = law.LawID }) |
                @Html.ActionLink(GlobalLocalization.Admin_Global_Delete, "DeleteLaw", new { lawId = law.LawID })
            </td>
        </tr>
    }

</table>

