<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="200000">
    <title>@ViewBag.Title</title>
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/jquery-ui.css" rel="stylesheet" />
    <link href="/Content/jquery-ui.structure.css" rel="stylesheet" />
    <link href="/Content/jquery-ui.theme.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Content/Site.css" rel="stylesheet" />


    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryunob")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @*<script type="text/javascript" src="~/Scripts/jquery-ui.datepicker-bs.js"></script>*@
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>

    <nav class="navbar navbar-default" role="navigation" style="background-image: linear-gradient(to bottom, #420617 0px, #9C1B12 100%); background-repeat: repeat-x;">
        <div class="container">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


                @if (ViewBag.TenantCode == "ALB")
                {
                    <a class="navbar-brand" href="@Url.RouteUrl( JavnaRasprava.Resources.Routes.JavnaRasprava_Index, new { pCode = (string)ViewBag.ParliamentCode })" style="width:300px; height:auto;">
                        <img src="~/Content/Images/KonsultimiPublik.al_logo.svg" class="img-responsive">
                    </a>
                }
                else
                {
                    <a class="navbar-brand" href="@Url.RouteUrl( JavnaRasprava.Resources.Routes.JavnaRasprava_Index, new { pCode = (string)ViewBag.ParliamentCode })" style="width:300px; height:auto;">
                        <img src="~/Content/Images/javna_rasprava_logo.png" class="img-responsive">
                    </a>
                }

            </div>e


            <div id="navbarCollapse" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left top-navigation">
                    <li class="navbar-link">@Html.RouteLink(GlobalLocalization.Admin_Menu_Top, JavnaRasprava.Resources.Routes.Admin_Index)  </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> @GlobalLocalization.Admin_Menu_Manage<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink(GlobalLocalization.Admin_Menu_Representatives, "ManageRepresentatives")</li>
                            <li>@Html.ActionLink(GlobalLocalization.Admin_Menu_Parliament, "ManageParliament")</li>
                            <li>@Html.ActionLink(GlobalLocalization.Admin_Menu_Laws, "ManageLaws")</li>
                            <li>@Html.ActionLink(GlobalLocalization.Admin_Menu_Petitions, "ManagePetitions")</li>
                            <li>@Html.ActionLink(GlobalLocalization.Admin_Menu_PetitionProgress, "ManagePetitionProgresses")</li>
                            <li>@Html.ActionLink(GlobalLocalization.Admin_Menu_Experts, "GetAllExperts")</li>
                            <li>@Html.ActionLink(GlobalLocalization.Admin_Menu_Quiz, "ManageQuiz")</li>
                            <li>@Html.ActionLink(GlobalLocalization.Admin_Menu_News, "GetAllNews")</li>
                            <li>@Html.ActionLink(GlobalLocalization.Admin_Menu_Party, "GetAllPArties")</li>
                            <li>@Html.ActionLink(GlobalLocalization.Admin_Menu_Users, "GetAllUsers")</li>
                        </ul>
                    </li>
                </ul>

                @Html.Partial("_LoginPartial")
            </div>

        </div>
    </nav>

    <div class="container">
        @RenderBody()
        <hr />
        <footer class="col-md-12">
            <p>&copy; @DateTime.Now.Year - @JavnaRasprava.Resources.StaticPageData.Credits</p>
        </footer>
    </div>


    @Scripts.Render("~/Scripts/javnarasprava-translations.js")
    @Scripts.Render("~/Scripts/javnarasprava-admin.js")

    @RenderSection("scripts", required: false)
</body>
</html>
